# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [8]:
# Read the WeatherPy_vacation.csv into a DataFrame
file_path ="../Vacation_Search/WeatherPy_vacation.csv"

# Load the CSV file into a Pandas DataFrame
vacation_df = pd.read_csv(file_path)

# Display sample data
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Avarua,CK,77.05,scattered clouds,-21.2078,-159.7750,Paradise Inn
1,2,Mahibadhoo,MV,81.32,overcast clouds,3.7833,72.9667,Omadhoo Inn
2,7,Hilo,US,86.29,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
3,10,Vaini,TO,76.48,light rain,-21.2000,-175.2000,Keleti Beach Resort
4,12,Kongolo,CD,75.90,overcast clouds,-5.3833,27.0000,GUEST HOUSE OASIS
5,23,Kalmunai,LK,79.39,overcast clouds,7.4167,81.8167,VS Villa
6,27,Kavieng,PG,81.93,light rain,-2.5744,150.7967,Nusa Island Retreat
7,28,Bandarbeyla,SO,77.41,broken clouds,9.4942,50.8122,JABIR HOTEL
8,31,Half Moon Bay,US,83.53,overcast clouds,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
9,41,Faanui,PF,77.59,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [9]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [25]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"]=="Bud"]
vacation_end =  vacation_df.loc[vacation_df["City"]=="Bud"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Lexington"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Rock Hill"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Tupelo"]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [26]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [27]:
# Define a new figure object
fig = gmaps.figure()
# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='BICYCLING')
# Add the layer to the map
fig.add_layer(vacation_itinerary)
# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [28]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,268,Bud,US,78.85,scattered clouds,39.4470,-86.1758,Ted McQuinn Trust
1,250,Lexington,US,77.74,clear sky,37.9887,-84.4777,DoubleTree Suites by Hilton Hotel Lexington
2,258,Rock Hill,US,77.41,clear sky,34.9249,-81.0251,DDCSVC
3,493,Tupelo,US,82.69,clear sky,34.2576,-88.7034,"Hilton Garden Inn Tupelo, MS"

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [29]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [35]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure(center=(36, -85), zoom_level=5.0)

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))